keras-core==
wurlitzer
dill==0.3.1.1
pyarrow==3.0.0
protobuf==3.20.3
google-api-core==1.22.2
google-cloud-aiplatform==0.6.0a1
google-cloud-artifact-registry==1.10.0
google-cloud-automl==1.0.1
google-cloud-bigquery==2.34.4
google-cloud-bigtable==1.7.3
google-cloud-datastore==1.15.5
google-cloud-dlp==3.14.0
google-cloud-language==2.13.3
google-cloud-monitoring==2.18.0
google-cloud-pubsub==2.19.0
google-cloud-recommendations-ai==0.7.1
google-cloud-resource-manager==1.11.0
google-cloud-spanner==3.40.1
google-cloud-translate==3.12.1
google-cloud-videointelligence==2.13.3
google-cloud-vision==2.8.0
googleapis-common-protos==1.62.0
grpc-google-iam-v1==0.12.7
kfp==2.5.0
kfp-pipeline-spec==0.2.2
opentelemetry-proto==1.22.0
proto-plus==1.23.0
streamlit==1.33.0
tensorboard==2.15.1
tensorboard-plugin-profile==2.15.0
tensorflow==2.15.0
tensorflow-metadata==0.14.0
tensorflow-serving-api==2.14.1
tensorflow-transform==0.14.0
wandb==0.16.6
